*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}

section {
    height: 400px;
    background-color: lightpink;
    border: solid white 1px;

}

.logo{
    height: 100px ;
    width: 100px;
    margin-left: 30px;
}
.hero {
    background-color: #fafafa;
    height: 30vh;
    color: black;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

nav {
    display: flex;
    justify-content: space-between;

}


ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 400px;
    
}

li {
    
    text-decoration: none;
}

li:hover{
    color: #ce954b;
}

h1{
    font-size: 40px;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p{
    margin-left: 20px;
    font-size: 20px;   
}

.profilepic {
    margin-right: 20%;
    height: 200px;
    width: 200px;
}

.text-area {
    display: flex;
    height: 50%;
    margin-left: 5%;
    justify-content:space-between;
}

.text {
    margin-bottom: 90px;

}

#aboutme {
    height: 200px;
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 10px;
    text-align: left;
}

footer {
    height: 50vh;
    background-color: #FFEBCD;
    color: #ce954b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}